@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kia's Blog Website</h1>
    <p style="font-size:2em; text-align:left"><a href="../BlogPosts">Posts</a></p>
    <p style="font-size: 2em; text-align: left"><a href="../Tags">Tags</a></p>
    <p style="font-size: 2em; text-align: left"><a href="../Authors">Authors</a></p>
</div>


